#Deprecated
version: "3.7"

services:
  swagger:
    labels:
      caddy: localhost

  spring:
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    labels:
      caddy: localhost

  nestjs:
    environment:
      - NODE_ENV=dev
    labels:
      caddy: localhost
