version: "3.7"

services:
  swagger:
    labels:
      caddy: localhost crew.api.dev.sopt.org

  spring:
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    labels:
      caddy: localhost crew.api.dev.sopt.org

  nestjs:
    environment:
      - NODE_ENV=dev
    labels:
      caddy: localhost crew.api.dev.sopt.org
