version: "3.7"

services:
  caddy:
    container_name: caddy
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped

  swagger:
    image: swaggerapi/swagger-ui
    env_file:
      - ./.env
    container_name: swagger
    environment:
      - URLS=
        [
        {url:'/api-docs/json', name:'spring'},
        {url:'/api-docs-json', name:'nestjs'},
        ]
      - BASE_URL=/docs
      - SPRING_NAME=${SPRING_NAME}
      - NESTJS_NAME=${NESTJS_NAME}
    depends_on:
      - ${NESTJS_NAME}
      - ${SPRING_NAME}
    networks:
      - caddy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    labels:
      caddy.route: /docs*
      caddy.route.reverse_proxy: "{{ upstreams 8080 }}"

  spring-green:
    image: makerscrew/main:latest
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Seoul
    ports:
      - "4001:4000"

    container_name: spring-green
    restart: unless-stopped
    depends_on:
      - nestjs-green
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    networks:
      - caddy
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs/json
      caddy.route_0.reverse_proxy: "{{ upstreams 4001 }}"
      # for health check
      caddy.route_1: /health
      caddy.route_1.reverse_proxy: "{{ upstreams 4001 }}"
      caddy.route_2: /user/v2
      caddy.route_2.reverse_proxy: "{{ upstreams 4001 }}"
      caddy.route_3: /user/v2/*
      caddy.route_3.reverse_proxy: "{{ upstreams 4001 }}"
      caddy.route_4: /meeting/v2/*
      caddy.route_4.reverse_proxy: "{{ upstreams 4001 }}"

  nestjs-green:
    image: makerscrew/server:latest
    environment:
      - TZ=Asia/Seoul
    ports:
      - "3001:3000"

    container_name: nestjs-green
    restart: unless-stopped
    networks:
      - caddy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs-json
      caddy.route_0.reverse_proxy: "{{ upstreams 3001 }}"
      # for health check
      caddy.route_1: /
      caddy.route_1.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_2: /auth
      caddy.route_2.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_3: /comment/v1
      caddy.route_3.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_4: /comment/v1/*
      caddy.route_4.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_5: /meeting/apply
      caddy.route_5.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_6: /meeting
      caddy.route_6.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_7: /meeting/v1/*
      caddy.route_7.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_8: /meeting/*
      caddy.route_8.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_9: /notice/v1
      caddy.route_9.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_10: /notice/v1/*
      caddy.route_10.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_11: /post/v1
      caddy.route_11.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_12: /post/v1/*
      caddy.route_12.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_13: /users
      caddy.route_13.reverse_proxy: "{{ upstreams 3001 }}"
      caddy.route_14: /users/*
      caddy.route_14.reverse_proxy: "{{ upstreams 3001 }}"

  spring-blue:
    image: makerscrew/main:latest
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Seoul
    ports:
      - "4002:4000"

    container_name: spring-blue
    restart: unless-stopped
    depends_on:
      - nestjs-blue
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    networks:
      - caddy
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs/json
      caddy.route_0.reverse_proxy: "{{ upstreams 4002 }}"
      # for health check
      caddy.route_1: /health
      caddy.route_1.reverse_proxy: "{{ upstreams 4002 }}"
      caddy.route_2: /user/v2
      caddy.route_2.reverse_proxy: "{{ upstreams 4002 }}"
      caddy.route_3: /user/v2/*
      caddy.route_3.reverse_proxy: "{{ upstreams 4002 }}"
      caddy.route_4: /meeting/v2/*
      caddy.route_4.reverse_proxy: "{{ upstreams 4002 }}"

  nestjs-blue:
    image: makerscrew/server:latest
    environment:
      - TZ=Asia/Seoul
    ports:
      - "3002:3000"
    container_name: nestjs-blue
    restart: unless-stopped
    networks:
      - caddy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs-json
      caddy.route_0.reverse_proxy: "{{ upstreams 3002 }}"
      # for health check
      caddy.route_1: /
      caddy.route_1.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_2: /auth
      caddy.route_2.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_3: /comment/v1
      caddy.route_3.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_4: /comment/v1/*
      caddy.route_4.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_5: /meeting/apply
      caddy.route_5.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_6: /meeting
      caddy.route_6.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_7: /meeting/v1/*
      caddy.route_7.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_8: /meeting/*
      caddy.route_8.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_9: /notice/v1
      caddy.route_9.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_10: /notice/v1/*
      caddy.route_10.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_11: /post/v1
      caddy.route_11.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_12: /post/v1/*
      caddy.route_12.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_13: /users
      caddy.route_13.reverse_proxy: "{{ upstreams 3002 }}"
      caddy.route_14: /users/*
      caddy.route_14.reverse_proxy: "{{ upstreams 3002 }}"

networks:
  caddy:
    external: true

volumes:
  caddy_data:
  caddy_config:
