version: "3.7"

services:
  caddy:
    container_name: caddy
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    restart: unless-stopped

  swagger:
    image: swaggerapi/swagger-ui
    container_name: swagger
    environment:
      - URLS=
        [
        {url:'/api-docs/json', name:'spring'},
        {url:'/api-docs-json', name:'nestjs'},
        ]
      - BASE_URL=/docs
    depends_on:
      - nestjs
      - spring
    networks:
      - caddy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    labels:
      caddy.route: /docs*
      caddy.route.reverse_proxy: "{{ upstreams 8080 }}"

  spring:
    build:
      context: ./main
      dockerfile: Dockerfile
    container_name: spring
    restart: unless-stopped
    depends_on:
      - nestjs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    networks:
      - caddy
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs/json
      caddy.route_0.reverse_proxy: "{{ upstreams 4000 }}"
      # for health check
      caddy.route_1: /health
      caddy.route_1.reverse_proxy: "{{ upstreams 4000 }}"
      caddy.route_2: /user/v2
      caddy.route_2.reverse_proxy: "{{ upstreams 4000 }}"
      caddy.route_3: /user/v2/*
      caddy.route_3.reverse_proxy: "{{ upstreams 4000 }}"
      caddy.route_4: /meeting/v2/*
      caddy.route_4.reverse_proxy: "{{ upstreams 4000 }}"
      caddy.route_5: /post/v2/*
      caddy.route_5.reverse_proxy: "{{ upstreams 4000 }}"
      caddy.route_6: /comment/v2/*
      caddy.route_6.reverse_proxy: "{{ upstreams 4000 }}"

  nestjs:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: nestjs
    restart: unless-stopped
    networks:
      - caddy
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    labels:
      # for Swagger spec
      caddy.route_0: /api-docs-json
      caddy.route_0.reverse_proxy: "{{ upstreams 3000 }}"
      # for health check
      caddy.route_1: /
      caddy.route_1.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_2: /auth
      caddy.route_2.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_3: /comment/v1
      caddy.route_3.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_4: /comment/v1/*
      caddy.route_4.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_5: /meeting/apply
      caddy.route_5.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_6: /meeting
      caddy.route_6.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_7: /meeting/v1/*
      caddy.route_7.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_8: /meeting/*
      caddy.route_8.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_9: /notice/v1
      caddy.route_9.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_10: /notice/v1/*
      caddy.route_10.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_11: /post/v1
      caddy.route_11.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_12: /post/v1/*
      caddy.route_12.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_13: /users
      caddy.route_13.reverse_proxy: "{{ upstreams 3000 }}"
      caddy.route_14: /users/*
      caddy.route_14.reverse_proxy: "{{ upstreams 3000 }}"

networks:
  caddy:
    external: true
