server:
  port: 4000
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  config:
    activate:
      on-profile: lambda-dev
    import: application-secret.properties

  main:
    lazy-initialization: true

  cache:
    type: redis
  
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 3
          max-idle: 2
          min-idle: 0
  
  datasource:
    driver-class-name: org.postgresql.Driver
    jdbc-url: jdbc:postgresql://${DEV_DB_HOST}:${DEV_DB_PORT}/${DEV_DB_NAME}?currentSchema=${DEV_DB_V2_SCHEMA}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    hikari:
      maximum-pool-size: 1
      minimum-idle: 0
      connection-timeout: 5000
      idle-timeout: 30000
      max-lifetime: 60000
      validation-timeout: 2000
      leak-detection-threshold: 20000
      connection-test-query: SELECT 1
      register-mbeans: false

  playground-datasource:
    jdbc-url: jdbc:postgresql://${DEV_DB_HOST}:${DEV_DB_PORT}/${DEV_PLAYGROUND_DB_NAME}?currentSchema=${DEV_PLAYGROUND_DB_SCHEMA}
    username: ${DEV_PLAYGROUND_DB_USERNAME}
    password: ${DEV_PLAYGROUND_DB_PASSWORD}
    hikari:
      maximum-pool-size: 1
      minimum-idle: 0
      connection-timeout: 5000
      validation-timeout: 2000

  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.sopt.makers.crew.main.global.config.CamelCaseNamingStrategy
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        enable_lazy_load_no_trans: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

aws-property:
  aws-region: ${AWS_REGION}
  s3-bucket-name: ${AWS_S3_BUCKET_NAME}
  access-key: ${AWS_ACCESS_KEY_ID}
  secret-key: ${AWS_SECRET_ACCESS_KEY}
  file-min-size: ${AWS_FILE_MIN_SIZE}
  file-max-size: ${AWS_FILE_MAX_SIZE}
  algorithm: ${AWS_ALGORITHM}
  content-type: ${AWS_CONTENT_TYPE}
  request-type: ${AWS_REQUEST_TYPE}
  object-url: ${AWS_OBJECT_URL}

springdoc:
  packages-to-scan: org.sopt.makers.crew
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /api-docs/json
    groups:
      enabled: true

push-notification:
  web-url: ${DEV_WEB_PAGE_URL}
  x-api-key: ${DEV_PUSH_API_KEY}
  service: ${PUSH_NOTIFICATION_SERVICE}
  push-server-url: ${DEV_PUSH_SERVER_URL}

notice:
  secret-key: ${NOTICE_SECRET_KEY}

jwt:
  jwk:
    issuer: ${MAKERS_AUTH_JWK_ISSUER}

external:
  auth:
    url: https://auth-dev-api.sopt.org
    api-key: ${AUTH_API_KEY}
    service-name: ${OUR_SERVICE_NAME}
    jwk: ${MAKERS_AUTH_JWK_ENDPOINT}
    users: ${MAKERS_AUTH_USERS_ENDPOINT}

management:
  health:
    redis:
      enabled: true
    diskspace:
      enabled: false
  endpoints:
    enabled-by-default: false
    jmx:
      exposure:
        exclude: "*"
    web:
      exposure:
        include: health, info
      base-path: ${ACTUATOR_PATH}
  endpoint:
    health:
      enabled: true
    info:
      enabled: true

custom:
  paths:
    eventApply: ${DEV_EVENT_APPLY_PATH}
    adminKey: ${ADMIN_SECRET}

sentry:
  dsn: ${SENTRY_DSN}
  environment: ${DEV_SENTRY_ENVIRONMENT}
  servername: ${DEV_SENTRY_SERVERNAME}

img:
  flash: ${FLASH_IMAGE}

thread-pool:
  core-size: ${DEV_THREAD_CORE_SIZE}
  thread-name-prefix: ${DEV_THREAD_NAME_PREFIX}

slack:
  bot-token: ${SLACK_BOT_TOKEN}
  app-token: ${SLACK_APP_TOKEN}
  api-auth-token: ${SLACK_API_AUTH_TOKEN}
