name: Makers_Crew Main CD
on:
  workflow_run:
    workflows: ["Makers_Crew CI"]
    branches: ["main"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      working-directory-spring: main
      working-directory-nestjs: server
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker build 가능하도록 환경 설정
        uses: docker/setup-buildx-action@v2

      - name: Create application.properties from secret
        run: |
          echo "${{ secrets.APPLICATION_SECRET_SPRING }}" > ./main/src/main/resources/application-secret.properties
        shell: bash

      - name: Docker hub에 로그인
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN_USERNAME }}
          password: ${{ secrets.DOCKERHUB_LOGIN_ACCESSTOKEN }}

      - name: docker image 빌드 및 푸시 (Spring)
        run: |
          docker build --platform linux/amd64 -t makerscrew/main:production --build-arg SPRING_PROFILES_ACTIVE=prod .
          docker push makerscrew/main:production
        working-directory: ${{ env.working-directory-spring }}

      - name: docker image 빌드 및 푸시 (nestjs)
        run: |
          docker build --platform linux/amd64 -t makerscrew/server:production .
          docker push makerscrew/server:production
        working-directory: ${{ env.working-directory-nestjs }}

      - name: 도커 컨테이너 실행
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_SERVER_IP }}
          username: ${{ secrets.PROD_SERVER_USER }}
          key: ${{ secrets.PROD_SERVER_KEY }}
          script: |
            cd ~
            chmod +x ./deploy.sh
            ./deploy.sh